*,
*::after,
*::before {
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-weight: 400;
}

.header {
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    font-size: 80px;
    line-height: 150px;
    text-decoration: none;
    color: #000000;
}

.logo span {
    color: #4BCAFF;
}

.nav-top{
    background-color: #35444F;
    display: flex;
    justify-content: center;
}

.menu-top {
    display: flex;
    justify-content: center;
    max-width: 1200px;
}

.menu-item-top {
    display: flex;
}

.menu-link:nth-child(1) {
    border-left: 1px solid #FFFFFF;
}

.menu-link {
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 24px;
    border-right: 1px solid #FFFFFF;
}

.menu-item-top:hover {
    background: #222F3A;
}

.main {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

.nav-left {
    padding-top: 49px;
    padding-right: 52px;
}

.menu-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #000000;
    width: 344px;
}
.menu-item-left:hover {
    background-color: #DBDBDB;
    padding-left: 40px;
}

.menu-link-left{
    text-decoration: none;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    display: block;
    padding: 20px;
}

.image {
    width: 885px;
    height: 529px;
}

.image-ramda {
    margin-top: 49px;
    border: 1px solid #000000;
    width: 880px;
    height: 529px;
}

.ramda {
    width: 320px;
    height: 381px;
    padding-top: 75px;
    padding-left: 297px;
    padding-bottom: 73px;
    padding-right: 267px;
}

.text {
    width: 885px;
    height: 120px;

}

p {
   padding-top: 37px;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
}

p:nth-child(2) {
    padding-top: 34px;
    padding-bottom: 54px;
}

.footer {
    max-width: 1280px;
    margin: 0 auto;

}
.footer-inner {
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
}

.footer-inner-info {
    display: flex;
}

.info {
    margin: 20px;
    font-size: 28px;
    line-height: 28px;
}

.info-menu-link {
    text-decoration: none;
    color: #0C1927;
}

.info-menu-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.info-copy {
    display: block;
    font-size: 24px;
    line-height: 24px;
    justify-content: end;
    padding: 20px;
}